<nav style="background-color:#eaeaea ; color: #f63117;" class="navbar navbar-expand-lg">
    <div class="container-fluid">
    <a class="navbar-brand" href="/" style="color: #f63117;"><i class="bi bi-basket h1"></i> Online Shopping</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse container" id="navbarNav">
        <ul class="navbar-nav ms-auto">
        <li class="nav-item">
        <a href="" class="nav-link">
            <form action="/logout?_method=DELETE" method="POST">
                <button type="submit" class=" btn btn-danger">Log Out</button></form>
        </a>
        </li>
        </ul>
    </div>
    </div>
</nav>
<div class="container p-4">
    <h1><i class="bi bi-gear h1"></i><strong>Dashboard </strong><small style="font-size: 30px; color: red;"><i>Manage Your Site</i></small></h1>
    
</div>
<section style="background-color: white;" class=" p-3">
    <div class="row container">
        <div class="col-md-3 g-4">
            <div class="list-group">
                <a href="#" class="list-group-item active " style="background-color: #f63117;">
                   <span class="bi bi-gear-fill"></span> Dashboard </a>
                <a href="/admin/newAdmin" class="list-group-item"><span class="bi bi-person-plus-fill h5"></span> New Admin </a>
                <a href="http://localhost:8002/newProduct" class="list-group-item"><span class="bi bi-bag-plus-fill h5"></span> New Product</a>
                <a href="http://localhost:8002/productlist" class="list-group-item"><span class="bi bi-cart4 h5"></span> Manage Product</a>
                <a href="/customers" class="list-group-item"><span class="bi bi-people-fill h6"></span> Manage Customers</a>
                <a href="http://localhost:8002/orderlist" class="list-group-item"><span class="bi bi-basket h5"></span> Orders</a>
            </div>
        </div>
        <div class="col-md-9 g-4">
            <div class="panel panel-default pb-5 ">
                <div class="panel-heading">
                    <div class="p-2 panel-title text-light"style="background-color: #f63117;">
                    Website Overview</div>
                    <div class="panel-body">
                        <div class="row container">
                        <div class="col-md-4 g-4">
                            <div class="well dash-box ">
                                <h2><i class="bi bi-person-circle "></i> <span class="badge  bg-secondary ms-auto">  <%= numberOfAdmin %> </span></h2>
                                <h4>Admin</h4>
                            </div>
                        </div>
                        <div class="col-md-4 g-4">
                            <div class="well dash-box ">
                                <h2><i class="bi bi-basket "></i></h2>
                                <h4>Orders</h4>
                            </div>
                        </div>
                        <div class="col-md-4 g-4">
                            <div class="well dash-box">
                                <h2><i class="bi bi-person-fill "></i> <span class="badge  bg-secondary ms-auto">   <%= numberOfCustomers %> </span> </h2>
                                <h4>Customers</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         
            </div>
            <div class="panel panel-default pb-4">
                <div class="panel-heading"></div>
             <h3><div class="panel-title text-dark" >Latest Customers</div></h3>
                <div class="panel-body">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Phone Number</th>
                                <th>Email</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if(lastCustomers.length > 0) { %>
                                <% for(let customer of lastCustomers){ %>
                                    <tr>
                                        <td><%= customer.name %></td>
                                        <td><%= customer.mobile %></td>
                                        <td><%= customer.email %></td>
                                    </tr>
                                <% } %>
                            <% } %>
                        </tbody>
                    </table>
                    
                </div>
            </div>

        </div>
    </div>
</section>
<footer class=" text-center p-2 mt-3" id="footer" style="background-color: #f63117;">
    <h4><p>Copyright Online Shopping &copy; 2022</p></h4> 
 </footer>
