<nav style="background-color:#eaeaea ;" class="navbar navbar-expand-lg">
    <div class="container-fluid">
    <a class="navbar-brand" href="/"><i class="bi bi-basket h1"></i> Online Shopping</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse container" id="navbarNav">
        <ul class="navbar-nav ms-auto">
        <!-- <li class="nav-item">
            <a class="nav-link active" href="/">Home</a>
        </li> -->
        </ul>
    </div>
    </div>
</nav>
<div class="container">
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-8">
                <h4>All Orders</h4>
            </div>
            <div class="col-4">
               <i class="bi bi-basket h2"></i>
            </div>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-hover">
            <thead class="table-dark">
                <tr>
                    <th>Image</th>
                    <th>Mobile</th>
                    <th>County</th>
                    <th>Estate</th>
                    <th>Address</th>
                    <th>Payment</th>
                    <th>Amount</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% if(orders.length > 0) { %>
                    <% for(let order of orders) { %>
                        <tr>
                            <td><img src="../uploads/<%= order.productimage %>" alt="" style="width: 100px; height: 100px; border-radius: 10px;"></td></td>
                            <td><%= order.mobile %></td>
                            <td><%= order.county %></td>
                            <td><%= order.estate %></td>
                            <td><%= order.address %></td>
                            <td><%= order.payment %></td>
                            <td><%= order.amount %></td>
                            <td>
                                <a href="/deleteOrder/<%= order._id %>" class="btn btn-danger"><i class="bi bi-trash"></i></a>
                            </td>
                        </tr>
                    <% } %>
                <% } else{%>
                    <tr>
                        <td colspan="4" class="text-center"><h4>No data Found</h4></td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
    </div>
    <a href="http://localhost:8001/admin/dashboard" class="btn btn-dark mt-3"><i class="bi bi-arrow-left"></i>Back</a>
</div>
<footer class="text-center mt-5 py-3">
    <h4>Copyright &copy; 2022</h4>
    <p>Online Shopping </p> 
    <h6><i class="bi bi-building text-primary h3"></i>Nairobi,Kenya</h6>
</footer>