<nav style="background-color:#eaeaea ;" class="navbar navbar-expand-lg">
    <div class="container-fluid">
    <a class="navbar-brand" href="/"><i class="bi bi-basket h1"></i> Online Shopping</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse container" id="navbarNav">
        <ul class="navbar-nav ms-auto">
        <!-- <li class="nav-item">
            <a class="nav-link active" href="/">Home</a>
        </li> -->
        </ul>
    </div>
    </div>
</nav>
<div class="container">
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-8">
                <h4>All Products</h4>
            </div>
            <div class="col-4">
                <a href="/newProduct" class="btn btn-info"> Add Product</a>
            </div>
        </div>
    </div>
    <div>
        <form action="/search" method="GET">
            <input type="text" class="form-control" name="search" placeholder="Search for A product" style="width:180px;">
            <button type="submit" class="btn btn-primary"><i class="bi bi-search"></i> Search</button>
        </form>
    </div>
 
    <div class="card-body">
        <table class="table table-hover">
            <thead class="table-dark">
                <tr>
                    <th>Image</th>
                    <th>Product Name</th>
                    <th>Type</th>
                    <th>Price</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <% if(products.length > 0) { %>
                    <% for(let product of products) { %>
                        <tr>
                            <td><img src="../uploads/<%= product.productimage %>" alt="" style="width: 100px; height: 100px; border-radius: 10px;"></td>
                            <td><%= product.productname %></td>
                            <td><%= product.type %></td>
                            <td><%= product.price %></td>
                            <td>
                                <a href="/updateProduct/<%= product._id %>" class="btn btn-warning"><i class="bi bi-pen"></i></a>
                                <a href="/deleteProduct/<%= product._id %>" class="btn btn-danger"><i class="bi bi-trash"></i></a>
                            </td>
                        </tr>
                    <% } %>
                <% } else{%>
                    <tr>
                        <td colspan="4" class="text-center"><h4>No data Found</h4></td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
    </div>
    <a href="http://localhost:8001/admin/dashboard" class="btn btn-dark mt-3"><i class="bi bi-arrow-left"></i>Back</a>
</div>
<footer class="text-center mt-5 py-3">
    <h4>Copyright &copy; 2022</h4>
    <p>Online Shopping </p> 
    <h6><i class="bi bi-building text-primary h3"></i>Nairobi,Kenya</h6>
</footer>